* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #f8f9fa;
    --background-color: #009c3b;
    --border-table-color: #FFCC29;
    --text-color: #212529;
}

body {
    font-family: sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
}

#hero img {
    width: 100%;
    height: auto;
}

#data {
    border: 1px solid #ccc;
    padding: 1rem;
}

#data h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#weather {
    border: 1px solid #ccc;
    padding: 1rem;
}

#weather h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#weather-icon {
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
}

td.label {
    font-weight: bold;
    text-align: right;
    padding-right: 1rem;
    width: 50%;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    background-color: var(--background-color);
    color: var(--primary-color);
}