:root {
    --primary-color: #1f5fa8;
    --text-color: white;
    --font-text: "Montserrat", sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* larger view - 3 columns */
@media (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.temple-card {
    text-align: center;
}

.temple-card img {
    width: 100%;
}
footer {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1rem 0;
}